body, html {
	height: 100%vh;
	width: 100%vw;
	margin: 0px;
	z-index: 5;
	position: relative;
}

.main{
	width: 100px;
	height: 100px;
}
.horse {
	width: 500px;
	height: 500px;
	bottom: 1500px;
	position: relative;
	z-index: 1;
}
.field {
	z-index: 2;
}
.flower1 {
	width: 100% vw;
	height: 500px;
	bottom: 500px;
	position: relative;
	z-index: 3;
}
.flower1 {
	
	height: 100vh;
	bottom: 500px;
	position: relative;
	z-index: 5;
}
.horse2 {
	width: 500px;
	height: 500px;
	bottom: -600px;
	left: 1000px;
	position: relative;
	z-index: 4;

}