body, html {
	height: 100%vh;
	width: 100%vw;
	margin: 0px;
	z-index: 5;
	position: relative;
}

.main{
	width: 100px;
	height: 100px;
}
.horse {
	width: 500px;
	height: 500px;
	bottom: 500px;
	position: relative;
	z-index: 1;
}
.field {
	z-index: 2;
}
.flower1 {
	width: 100% vw;
	height: 500px;
	bottom: 500px;
	position: relative;
	z-index: 3;
}
.flower1 {
	
	height: 100vh;
	bottom: 500px;
	position: relative;
	z-index: 5;
}
.horse2 {
	width: 500px;
	height: 500px;
	top: 600px;

	left: 700px;
	position: relative;
	z-index: 4;

}
.horse3 {
	width: 400px;
	height: 400px;
	position: relative;
	left: 1000px;
	top: 500px;

}
.horse4 {
	width: 400px;
	height: 400px;
	position: relative;
	right: 500px;
	top: 300px;

}
.barn {
	width: 300px;
	height: 300px;
	position: relative;
	right: 50px;
	top: 400px;
}